@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
}

html{
  width: 100%;
  overflow-x: hidden;
}

.header-logo, .jost-styles{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*TODO: fix when screen size (width) changes, the anim is broken */
@keyframes companies-scroll-anim{
  from{
    transform: translateX(-140.5%);
  }
  to{
    transform: translateX(0%);
  }
}

.companies-scroll {
  animation: companies-scroll-anim 4s linear infinite;
}